<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>AutoraceWebService</title>
        <!-- Googleアイコンフォントのインポート -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- モバイル向けに最適化 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 共通 -->
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <script src="js/common.js"></script>

        <style type="text/css">
        </style>

    </head>
    <body>

        <!-- メニュー -->
        <a class="menu">
            <span class="menu__line menu__line--top"></span>
            <span class="menu__line menu__line--center"></span>
            <span class="menu__line menu__line--bottom"></span>
        </a>
        <div class="gnav">
            <div class="gnav__wrap">
                <ul class="gnav__menu">
                    <li class="gnav__menu__item"><a href="toppage.html">Top</a></li>
                    <li class="gnav__menu__item"><a href="raceinfo.html">RaceInfo</a></li>
                    <!-- <li class="gnav__menu__item"><a href="raceinfo_history.html">RaceInfoHistory</a></li> -->
                    <li class="gnav__menu__item"><a href="anaylize.html">Anaylize</a></li>
                </ul>
            </div>
        </div>
        <div class="hero"></div>
        <!-- メニュー -->

        <!-- メイン -->
        <!-- Element Showed -->
        <div>
            <a id="menu" class="waves-effect waves-light btn btn-floating red lighten-3" style="margin:10px 0 0 10px;" onclick="$('.tap-target').tapTarget('open')" ><i class="material-icons">help</i></a>
        </div>
        <!-- Tap Target Structure -->
        <div class="tap-target" data-target="menu">
            <div class="tap-target-content">
                <h5>Anaylize</h5>
                <p>レース分析</p>
                <p>過去3年のデータから、AIが本日のレース結果を予想します。</p>
            </div>
        </div>

        <div class="container">
            <!-- 検索フォーム -->
            <div class="row" style="margin-top: 5%;">
                <div class="col s12 m4">
                    <label>Date</label>
                    <input id="inputDated" type="text" class="datepicker" style="height: 2.5rem; pointer-events: none; color: gray;"></input>
                </div>

                <div class="input-field col s4 m3">
                    <select id="inputPlace">
                    </select>
                    <label>Place</label>
                </div>

                <div class="input-field col s4 m2">
                    <select id="inputRound">
                        <option Value=""></option>
                        <option Value="1">1</option>
                        <option Value="2">2</option>
                        <option Value="3">3</option>
                        <option Value="4">4</option>
                        <option Value="5">5</option>
                        <option Value="6">6</option>
                        <option Value="7">7</option>
                        <option Value="8">8</option>
                        <option Value="9">9</option>
                        <option Value="10">10</option>
                        <option Value="11">11</option>
                        <option Value="12">12</option>
                    </select>
                    <label>Round</label>
                </div>

                <button id="btnSearch" class="col s4 offset-m1 m2 btn waves-effect red lighten-2" style="margin-top: 25px;">検索</button>
            </div>

            <!-- preloader -->
            <div id="preloader" class="row" style="display: none;">
                <div class="col offset-s9 s3 offset-m11 m1">
                    <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- レース情報 -->
            <table id="race_info" class="centered responsive-table from_json_to_table" style="margin-top: 60px;"></table>
            <!-- レース情報 -->
            <table id="anaylize" class="centered responsive-table from_json_to_table" style="margin-top: 60px;"></table>

        <!-- メイン -->

        <script>

            // 初期設定
            $(function () {
                // materialize
                $('.datepicker').datepicker({
                    format: "yyyy-mm-dd",
                    defaultDate: new Date(),
                    setDefaultDate: true
                });
                $('select').formSelect();
                $('.tap-target').tapTarget();
                $('.tap-target').tapTarget('open')
                $(".tap-target-wrapper").css('position', 'fixed');
                // メニュー
                setting_menu();
                // inputPlaceドロップダウン動的生成
                setting_place();
            });

            // 検索
            $(function () {
                $("#btnSearch").click(function (e) {
                    if ($("#inputDated").val() == "" || $("#inputPlace").val() == "" || $("#inputRound").val() == "") {
                        alert("検索条件を入力してください。");
                    }else{
                        $("#race_info").empty();
                        $("#anaylize").empty();
                        $("#preloader").css('display','');
                        // レース情報取得
                        $.ajax({
                            url:'https://ntg3gua04h.execute-api.ap-northeast-1.amazonaws.com/prod/analyze',
                            type:'GET',
                            data:{
                                'dated':$('#inputDated').val(),
                                'place':$('#inputPlace').val(),
                                'round':$('#inputRound').val()
                            }
                        })
                        .done( (response) => {
                            $("#race_info").append(from_json_to_table(response["race_info"]));
                            $("#anaylize").append(from_json_to_table(response["anaylize"]));
                        })
                        .fail( (response) => {
                            if (response["status"] == 0){
                                alert("error!");
                            }else{
                                alert(response["responseJSON"]);
                            }
                        })
                        .always( (response) => {
                            $("#preloader").css('display','none');
                        });
                    }
                });
            });

        </script>
    </body>
</html>
